* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow;
}

body {
    display: grid;
    grid-template: 1fr 8fr / 1fr;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#040925, black);
}

header {
    grid-area: 1 / 1 / 2 / 2;
}

header nav {
    display: flex;
    gap: 20px;
}

header button {
    background: none;
    border: 1px solid #20b2ab;
    border-radius: 5px;
    padding: 4px 10px;
    color: rgba(255, 255, 255, 0);
    font-weight: 300;
    font-style: italic;
    /* text-shadow: 0px 0px 10px #20b2ab; */
    position: relative;
    /* transition: color 1s ease; */
}

/* use ::before pseudo tags to simulate fade with background-image property */
#home::before, #menu::before, #about::before {
    content: "";
    /* must set absolute position to place within element */
    position: absolute;
    background-image: url(images/item-glitch-2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* inset sets the elements within the borders of container */
    inset: 0;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    /* RGB value loses alpha value on thumbprint completion */
}

/* add .faded class to each nav button to simulate background fade */
#home.faded::before, #menu.faded::before, #about.faded::before {
    opacity: 0;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.09;
    z-index: -1;
}

#content {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: 1fr 8fr / 1fr;
    width: 100%;
    height: 100%;
    place-items: center;
}

#contentHead {
    grid-area: 1 / 1 / 2 / 2;
    color: white;
    font-weight: 300;
    transition: opacity 0.5s;
}

#rect {
    /* background-color: rgba(0, 52, 119, 0.137); */
    width: 80%;
    height: 80%;
    border: 1px solid #20b2ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-image-source: url(images/element-assets/border2.svg);
    border-image-slice: 78 228 184 229;
    border-image-width: 78px 228px 184px 229px;
    filter: drop-shadow(0px 3px 5px #20b2ab);
}

#confirmNotif {
    display: flex;
    position: absolute;
    top: 50px;
    gap: 10px;
}

#exclamation, #confirmCaption {
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 3px #20b2ab;
    border: 1px solid #20b2ab;
    border-radius: 5px;
    padding: 10px;
}

#exclamation {
    padding: 10px 15px;
}

#printScanner, #progressContainer, #confirmNotif {
    transition: opacity 1s;
}


#printScanner img {
    width: 150px;
    height: 150px;
}

#progressContainer {
    width: 150px;
    height: 10px;
    margin-top: 20px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: #20b2ab;
}

#printScanner:hover {
    cursor: pointer;
}

#contentHead.glitched {
    animation: glitch 1s linear infinite;
}

#welcomeMsg {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50px;
}

#dealsContainer {
    width: 80%;
    height: 60%;
    background-color: rgba(221, 29, 221, 0.253);
    position: relative;
}

#dealsTitle {
    color: white;
    font-size: 1rem;
}

#setDeal {
    width: 100%;
    display: flex;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

#contentHead.glitched:before,
#contentHead.glitched:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

#contentHead.glitched:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

#contentHead.glitched:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

/* class added to elements dynamically to produce fade-in effect  */
.fade-in {
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
