* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow;
}

body {
    display: grid;
    grid-template: 1fr 8fr / 1fr;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#040925, black);
    opacity: 1;
    transition: opacity 0.5s ease;
    overflow: hidden;
}

body.loading * {
    visibility: hidden;
}

body.loading {
    opacity: 0;
    overflow: hidden;
}

header {
    grid-area: 1 / 1 / 2 / 2;
}

header nav {
    display: flex;
    gap: 20px;
}

header button {
    background: none;
    border: 1px solid #20b2ab;
    border-radius: 5px;
    padding: 4px 10px;
    color: rgba(255, 255, 255, 0);
    font-weight: 300;
    font-style: italic;
    position: relative;
}

#home::before, #menu::before, #about::before {
    content: "";
    position: absolute;
    background-image: url(images/item-glitch-2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    inset: 0;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

#home.faded::before, #menu.faded::before, #about.faded::before {
    opacity: 0;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.09;
    z-index: -1;
}

#content {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: auto 1fr / 1fr;
    width: 100%;
    height: 100%;
    min-height: 0;
    place-items: center;
}

#contentHead {
    grid-area: 1 / 1 / 2 / 2;
    color: white;
    font-weight: 300;
    transition: opacity 0.5s;
}

#rect {
    width: 80%;
    height: 80%;
    min-height: 0;
    border: 1px solid #20b2ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-image-source: url(images/element-assets/border2.svg);
    border-image-slice: 78 228 184 229;
    border-image-width: 78px 228px 184px 229px;
    filter: drop-shadow(0px 3px 5px #20b2ab);
    grid-area: 2 / 1 / 3 / 2;
}

#confirmNotif {
    display: flex;
    position: absolute;
    top: 50px;
    gap: 10px;
}

#exclamation, #confirmCaption {
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 3px #20b2ab;
    border: 1px solid #20b2ab;
    border-radius: 5px;
    padding: 10px;
}

#exclamation {
    padding: 10px 15px;
}

#printScanner, #progressContainer, #confirmNotif {
    transition: opacity 1s;
}

/* Center thumbprint scanner */
#printScanner {
    display: flex;
    justify-content: center;
}

#printScanner img {
    width: 150px;
    height: 150px;
}

#progressContainer {
    width: 150px;
    height: 10px;
    margin-top: 20px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: #20b2ab;
}

#printScanner:hover {
    cursor: pointer;
}

#contentHead.glitched {
    animation: glitch 1s linear infinite;
}

#welcomeMsg {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 35px;
}

#dealsContainer {
    width: 80%;
    height: 80%;
    margin-top: 50px;
    position: relative;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#dealsContainer::-webkit-scrollbar {
    display: none;
}

#dealsTitle {
    color: white;
    font-size: 1rem;
    height: 1rem;
}

#setDeal {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1.5fr;
    margin-top: 0;
}

#setContainer {
    justify-self: center;
}

#descBox {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20b2ab3f;
    margin-top: auto;
    margin-bottom: auto;
}

#weaponDeals {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1.5fr;
    margin-top: 20px;
    column-gap: 20px;;
}

#weaponDeals img {
    width: 80%;
    place-self: center;
}

#descBoxWeapon {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20b2ab3f;
    margin-top: auto;
    margin-bottom: auto;
}

#weaponChoices {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

#weaponBox {
    display: grid;
    grid-template: 1fr 0.5fr / 1fr;
    place-content: center;
    gap: 5px;
}

#weaponName {
    color: white;
    place-content: center;
    text-align: center;
    font-size: 0.8rem;
}

.itemName {
    color: white;
}

.itemPrice {
    color: rgb(255, 58, 255);
    text-shadow: 1px 1px 2px rgb(128, 9, 128);
}

/* set as flex for responsive sizing of items */
#dealsContainer, #setContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

#weaponBox img, #setContainer img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

#consumablesCont {
    width: 80%;
    min-height: 0;
    max-height: 80%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    overflow-y: scroll;
    gap: 20px;
}

.itemBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20b2ab3f;
    margin-top: auto;
    margin-bottom: auto;
    height: 70%;
    text-align: center;
}

#consumablesCont img {
    place-self: center;
}

.menuBox {
    border-image-source: url(images/element-assets/border4.svg);
    border-image-slice: 36 27 39 25;
    border-image-width: 36px 27px 39px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyWrap {
    display: grid;
    grid-template: auto / 2fr 1fr;
}

#keyWrap > .itemBox {
    height: 40%;
} 

#manaWrap {
    display: grid;
    grid-template: auto auto auto / 2fr 1fr ;
}

#timeWrap {
    display: grid;
    grid-template: auto auto / 2fr 1fr;
}

.wrapper {
    width: 70%;
    height: 70%;
}

img {
    max-width: 100%;
    height: auto;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

#contentHead.glitched:before,
#contentHead.glitched:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

#contentHead.glitched:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

#contentHead.glitched:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

.fade-in {
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {

    h1,
    #welcomeMsg,
    #dealsTitle {
        font-size: 1.5rem;
        text-align: center;
    }

    #descBox,
    #descBoxWeapon {
        flex-direction: column;
        align-items: center;
    }

    #confirmNotif {
        justify-content: center;
        top: 15vh;
        font-size: 0.8rem;
        gap: 5px;
    }

    #rect {
        width: 90%;
        height: 90%;
    }

    #welcomeMsg {
        font-size: 1rem;
    }

    #dealsContainer {
        width: 70%;
    }

    #setDeal,
    #weaponDeals {
        display: grid;
        grid-template-rows: auto 1fr; /* auto for desc, 1fr for items */
        grid-template-columns: 1fr; /* Single column */
        gap: 10px; /* Spacing between rows */
    }

    #descBox,
    #descBoxWeapon {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    #setContainer {
        justify-self: stretch;
    }

    #weaponChoices {
        justify-content: center; /* Keep items centered */
    }

    #dealsTitle {
        font-size: 2.5vh;
    }

    #consumablesCont {
        width: 70%;
    }
}

@media (min-width: 1920px) {

    #printScanner img {
        width: 250px; /* Slightly reduced size */
        height: auto;
    }

    #progressContainer {
        width: 250px; /* Slightly reduced size */
        height: 15px; /* Increased height */
    }

    #confirmNotif {
        font-size: 1.75rem; /* Slightly reduced size */
    }

    #contentHead {
        font-size: 3rem; /* Slightly reduced size */
    }

    button {
        font-size: 1.25rem; /* Slightly reduced size */
    }

    #welcomeMsg {
        font-size: 1.25rem;
    }

    #dealsTitle {
        font-size: 1.25rem;
    }

    #rect {
        width: 70%; /* Slightly reduced width */
        height: 70%; /* Slightly reduced height */
        margin-top: -100px;
    }

    #setDeal {
        grid-template: 1fr / 1fr 1.25fr; /* Adjusted proportion */
    }

    #weaponDeals {
        grid-template: 1fr / 1fr 1.25fr; /* Adjusted proportion */
    }

    #weaponBox img, #setContainer img {
        max-width: 120px; /* Slightly increased size */
    }
}

@media (min-width: 2560px) {

    #printScanner img {
        width: 350px;
        height: auto;
    }

    #progressContainer {
        width: 350px;
        height: 20px;
    }

    #confirmNotif {
        font-size: 2.25rem;
    }

    #contentHead {
        font-size: 4rem;
    }

    button {
        font-size: 1.75rem;
    }

    #welcomeMsg {
        font-size: 1.75rem;
    }

    #dealsTitle {
        font-size: 1.5rem;
    }

    #rect {
        width: 60%;
        height: 60%;
        margin-top: -200px;
    }

    #setDeal {
        grid-template: 1fr / 1fr 1.15fr;
    }

    #weaponDeals {
        grid-template: 1fr / 1fr 1.15fr;
    }

    #weaponBox img, #setContainer img {
        max-width: 150px;
    }
}